# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.development
.env.development
.env.production
package-lock.json
package.json
package-lock.json
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//accommodation-sheet-blank.xlsx
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//asset-manifest.json
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//favicon.ico
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//index.html
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo192.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo512.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//manifest.json
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//robots.txt
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//new/logo.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//new/spt.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/css/main.9999c48c.css
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/css/main.9999c48c.css.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/787.47115208.chunk.js
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/787.47115208.chunk.js.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js.LICENSE.txt
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/media/loading.17364e13ad78b4c74995.gif
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//accommodation-sheet-blank.xlsx
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//asset-manifest.json
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//favicon.ico
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//index.html
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo192.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//logo512.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//manifest.json
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//robots.txt
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//new/logo.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//new/spt.png
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/css/main.9999c48c.css
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/css/main.9999c48c.css.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/787.47115208.chunk.js
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/787.47115208.chunk.js.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js.LICENSE.txt
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/js/main.fc35ce49.js.map
C:/Users/dcdrns/Documents/ideaProjects/ils2023/src/main/webapp//static/media/loading.17364e13ad78b4c74995.gif
# .env.production
# .env.production
